doctype HTML
html
    head
        meta( charset="UTF-8")
        title Login
    body(bgcolor="#F6F4F1")
        #wrapper
            #header
                img(src='images/header.jpg')
                ui#nav
                    li
                        a(href="#")
                            h1 Instamos
            #content
                #container
                    img(src='images/iphone.jpg')
                    #login
                        form(role='Login', action="/login",method="post", style='max-width: 300px;')
                            .form-group
                                input.form-control(type='text', name="username", placeholder='Логин')
                            .form-group
                                input.form-control(type='password', name="password", placeholder='Пароль')
                            button.btn(type='submit') Войти
                        form(action="#Registration")
                            button.btn(type='summit') Регистрация
                        p
                            a(href="#ResetPassword") Забыли?
