extends layout

block content
  a(href='/') Go home
  div Your profile
  div Your nickname
  div Your avatar
  img(src="https://lh5.ggpht.com/6G3wCupIFZy1NuiSYiGzPcPIj3PCyfB5wFb9wV-9tsayloSA_pVfb6TTWU1rgddo0A=w300")
  div 999 posts
  div 100000 subscribers
